* {
    margin: 0;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
 }

.logo_texto {
    font-family: sans-serif ;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.logo {
    height: 35px;
}

.main { 
    width: auto;
    display: flex;
    justify-content: center;

 }

select, button{
  margin: 10px;
  padding: 5px;
}

.imagen_principal {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;

}

.color {
  width: 150px;
  height: 
  50px;
  margin: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 12px;
}
